<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
     xmlns:p="http://www.springframework.org/schema/p"
     xmlns:tx="http://www.springframework.org/schema/tx" 
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
     http://www.springframework.org/schema/tx  
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
     http://www.springframework.org/schema/aop  
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
     http://www.springframework.org/schema/context  
     http://www.springframework.org/schema/context/spring-context-2.5.xsd"
     default-autowire="byName">

	<bean id="compactDisc1" class="com.debuglife.codelabs.spring.usexmlwiringbean3.SgtPeppers" />
	
	<bean id="compactDisc2" class="com.debuglife.codelabs.spring.usexmlwiringbean3.BlankDisc">
		<constructor-arg value="hello" />
		<constructor-arg value="roger" />
		<constructor-arg>
			<list>
				<value>haha1</value>
				<value>haha2</value>
				<value>haha3</value>
				<value>haha4</value>
			</list>
		</constructor-arg> <!-- <null/> -->
	</bean>
	
	<bean id="cdPlayer" class="com.debuglife.codelabs.spring.usexmlwiringbean3.CDPlayer">
		<constructor-arg ref="compactDisc"/>
	</bean>
	
	    
     
</beans>