/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin vaadinstudy {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  
	.v-label-mystyle{
		background-color:red;
		font-style: italic; 
		font-wight: bold;
		font-size: 18px;
		margin-bottom:1px;
	}
	
	.v-horizontal-layout{
		background-color:yellow;
		border-style:solid;
	}
	
}
